@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import './fonts.scss';

html {
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	color: #212121;
	box-sizing: border-box;
}

body {
	margin: 0;
}

* {
	font-size: 1rem;
}
